<section class="profile-page">
  <div class="profile-card">
    <p class="eyebrow">Mon profil</p>
    <h1>Ton espace personnel</h1>

    @if (isLoading()) {
    <p class="status">Chargement du profil...</p>
    }

    @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
    }

    @if (user()) {
    <div class="user-box">
      <div class="avatar">
        {{ user()?.pseudo?.charAt(0)?.toUpperCase() }}
      </div>

      <div>
        <h2>{{ user()?.pseudo }}</h2>
        <p>{{ user()?.mail }}</p>
      </div>
    </div>

    <div class="details">
      <div>
        <span>Statut</span>
        <strong>{{ user()?.isActive ? 'Actif' : 'Désactivé' }}</strong>
      </div>

      <div>
        <span>Dernière connexion</span>
        <strong>{{ user()?.lastConnexion || 'Non renseignée' }}</strong>
      </div>
    </div>
    }
  </div>
</section>
